PARA1: Project Case Name (Prefix for all .bmf meshes and output files)
hemi_D10

PARA2: Execution Control Flags (IPOTEN, IFORCE, IRAD, IDIFF)
# IPOTEN : 1 = Compute velocity potential (solve boundary‑integral equation), 0 = Skip solving, directly read saved potential data
# IFORCE : 1 = Compute hydrodynamic loads, added‑mass & damping, excitation forces, RAO, etc., 0 = Skip
# IRAD   : 1 = Solve Radiation problem, 0 = Skip
# IDIFF  : 1 = Solve Diffraction problem, 0 = Skip
# IDRIFT : 1 = Compute Mean Drift Force, 0 = Skip
1  1  1  1  1

PARA3: Wave Frequencies and Headings (Most Frequently Modified)
# Line 1: FREQ_TYPE (1=rad/s, 2=Period[s], 3=Hz), NFREQ, FREQ_START, FREQ_END, FREQ_STEP
1  5  0.5  2.0  0.375
# Line 2: NDIR (Number of wave headings)
3
# Line 3: Array of headings (degrees)
0.0  45.0  90.0

PARA4: Physical Environment
# Water Depth h [m] (0=infinite water depth), g [m/s^2], rho [kg/m^3]
50  9.80665  1025.0

PARA5: Multi‑body Setup: Number of Bodies (NBODY) and Global Configurations
# Format: Line 1: NBODY
# Following NBODY lines: [ID]  [Mesh_File or 'auto' for project case name]  [X0]  [Y0]  [Z0]  [Yaw_deg]
1
1  auto  0.0  0.0  0.0  0.0

PARA6: Mass and Inertia Properties (For RAO & Drift Forces)
# For each body (1 to NBODY), provide 2 lines:
# Line 1: Mass  Xg  Yg  Zg (Mass and Center of Gravity)
# Line 2: Ixx   Iyy Izz Ixy Ixz Iyz (Moments and Products of Inertia about CG)
2.68344E+05  0.0  0.0  0.0
2.68344E+06   2.68344E+06  2.68344E+06  0.0  0.0  0.0

PARA7: Radiation Calculation Modes
# (1=Surge, 2=Sway, 3=Heave, 4=Roll, 5=Pitch, 6=Yaw)
1 2 3 4 5 6

PARA8: Mesh Symmetry Flags
# ISX, ISY: 1=Symmetric, 0=Non‑symmetric
0  0

PARA9: Free Surface & Domain Generation Parameters (Usually fixed)
# Z_tol, NR_near, NR_sponge, R_inner, R_outer, Sponge_ratio, NZ_farfield
1.0e‑3  15  10  20.0  40.0  1.12  6

PARA10: Rayleigh Sponge Layer Damping Factor (mu0)
0.35
